*
!/.gitignore
!/desktop/
!/desktop/applis/
!/desktop/applis/apps/
!/desktop/applis/apps/apps_sml/
!/desktop/applis/apps/apps_sml/pom.xml
!/desktop/applis/apps/apps_sml/sml_common/
!/desktop/applis/apps/apps_sml/sml_common/mathssml/
!/desktop/applis/apps/apps_sml/sml_common/mathssml/pom.xml
!/desktop/applis/apps/apps_sml/sml_common/mathssml/src/
!/desktop/applis/apps/apps_sml/sml_common/mathssml/src/**/
!/desktop/applis/apps/apps_sml/sml_common/mathssml/src/**/*.java
!/desktop/applis/apps/apps_sml/sml_common/pom.xml
!/desktop/applis/apps/apps_sml/sml_games/
!/desktop/applis/apps/apps_sml/sml_games/cardgamessml/
!/desktop/applis/apps/apps_sml/sml_games/cardgamessml/pom.xml
!/desktop/applis/apps/apps_sml/sml_games/cardgamessml/src/
!/desktop/applis/apps/apps_sml/sml_games/cardgamessml/src/**/
!/desktop/applis/apps/apps_sml/sml_games/cardgamessml/src/**/*.java
!/desktop/applis/apps/apps_sml/sml_games/pokemonsml/
!/desktop/applis/apps/apps_sml/sml_games/pokemonsml/pom.xml
!/desktop/applis/apps/apps_sml/sml_games/pokemonsml/src/
!/desktop/applis/apps/apps_sml/sml_games/pokemonsml/src/**/
!/desktop/applis/apps/apps_sml/sml_games/pokemonsml/src/**/*.java
!/desktop/applis/apps/apps_sml/sml_games/pom.xml
!/desktop/applis/apps/apps_util/
!/desktop/applis/apps/apps_util/expressionlanguagefiles/
!/desktop/applis/apps/apps_util/expressionlanguagefiles/pom.xml
!/desktop/applis/apps/apps_util/expressionlanguagefiles/src/
!/desktop/applis/apps/apps_util/expressionlanguagefiles/src/**/
!/desktop/applis/apps/apps_util/expressionlanguagefiles/src/**/*.java
!/desktop/applis/apps/apps_util/expressionlanguageint/
!/desktop/applis/apps/apps_util/expressionlanguageint/pom.xml
!/desktop/applis/apps/apps_util/expressionlanguageint/src/
!/desktop/applis/apps/apps_util/expressionlanguageint/src/**/
!/desktop/applis/apps/apps_util/expressionlanguageint/src/**/*.java
!/desktop/applis/apps/apps_util/expressionlanguageutil/
!/desktop/applis/apps/apps_util/expressionlanguageutil/pom.xml
!/desktop/applis/apps/apps_util/expressionlanguageutil/src/
!/desktop/applis/apps/apps_util/expressionlanguageutil/src/**/
!/desktop/applis/apps/apps_util/expressionlanguageutil/src/**/*.java
!/desktop/applis/apps/apps_util/expressionlanguageutilimpl/
!/desktop/applis/apps/apps_util/expressionlanguageutilimpl/pom.xml
!/desktop/applis/apps/apps_util/expressionlanguageutilimpl/src/
!/desktop/applis/apps/apps_util/expressionlanguageutilimpl/src/**/
!/desktop/applis/apps/apps_util/expressionlanguageutilimpl/src/**/*.java
!/desktop/applis/apps/apps_util/pom.xml
!/desktop/applis/apps/apps_util/stream/
!/desktop/applis/apps/apps_util/stream/pom.xml
!/desktop/applis/apps/apps_util/stream/src/
!/desktop/applis/apps/apps_util/stream/src/**/
!/desktop/applis/apps/apps_util/stream/src/**/*.java
!/desktop/applis/apps/apps_util/streamcore/
!/desktop/applis/apps/apps_util/streamcore/pom.xml
!/desktop/applis/apps/apps_util/streamcore/src/
!/desktop/applis/apps/apps_util/streamcore/src/**/
!/desktop/applis/apps/apps_util/streamcore/src/**/*.java
!/desktop/applis/apps/apps_util/threads/
!/desktop/applis/apps/apps_util/threads/pom.xml
!/desktop/applis/apps/apps_util/threads/src/
!/desktop/applis/apps/apps_util/threads/src/**/
!/desktop/applis/apps/apps_util/threads/src/**/*.java
!/desktop/applis/apps/bean/
!/desktop/applis/apps/bean/bean_core/
!/desktop/applis/apps/bean/bean_core/pom.xml
!/desktop/applis/apps/bean/bean_core/src/
!/desktop/applis/apps/bean/bean_core/src/**/
!/desktop/applis/apps/bean/bean_core/src/**/*.java
!/desktop/applis/apps/bean/bean_games/
!/desktop/applis/apps/bean/bean_games/belotebean/
!/desktop/applis/apps/bean/bean_games/belotebean/pom.xml
!/desktop/applis/apps/bean/bean_games/belotebean/src/
!/desktop/applis/apps/bean/bean_games/belotebean/src/**/
!/desktop/applis/apps/bean/bean_games/belotebean/src/**/*.java
!/desktop/applis/apps/bean/bean_games/pokemonbean/
!/desktop/applis/apps/bean/bean_games/pokemonbean/pom.xml
!/desktop/applis/apps/bean/bean_games/pokemonbean/src/
!/desktop/applis/apps/bean/bean_games/pokemonbean/src/**/
!/desktop/applis/apps/bean/bean_games/pokemonbean/src/**/*.java
!/desktop/applis/apps/bean/bean_games/pom.xml
!/desktop/applis/apps/bean/bean_games/presidentbean/
!/desktop/applis/apps/bean/bean_games/presidentbean/pom.xml
!/desktop/applis/apps/bean/bean_games/presidentbean/src/
!/desktop/applis/apps/bean/bean_games/presidentbean/src/**/
!/desktop/applis/apps/bean/bean_games/presidentbean/src/**/*.java
!/desktop/applis/apps/bean/bean_games/tarotbean/
!/desktop/applis/apps/bean/bean_games/tarotbean/pom.xml
!/desktop/applis/apps/bean/bean_games/tarotbean/src/
!/desktop/applis/apps/bean/bean_games/tarotbean/src/**/
!/desktop/applis/apps/bean/bean_games/tarotbean/src/**/*.java
!/desktop/applis/apps/bean/bean_help/
!/desktop/applis/apps/bean/bean_help/pom.xml
!/desktop/applis/apps/bean/bean_help/src/
!/desktop/applis/apps/bean/bean_help/src/**/
!/desktop/applis/apps/bean/bean_help/src/**/*.java
!/desktop/applis/apps/bean/formatconst/
!/desktop/applis/apps/bean/formatconst/pom.xml
!/desktop/applis/apps/bean/formatconst/src/
!/desktop/applis/apps/bean/formatconst/src/**/
!/desktop/applis/apps/bean/formatconst/src/**/*.java
!/desktop/applis/apps/bean/pom.xml
!/desktop/applis/apps/core/
!/desktop/applis/apps/core/adv/
!/desktop/applis/apps/core/adv/pom.xml
!/desktop/applis/apps/core/adv/src/
!/desktop/applis/apps/core/adv/src/**/
!/desktop/applis/apps/core/adv/src/**/*.java
!/desktop/applis/apps/core/common/
!/desktop/applis/apps/core/common/expressionlanguage/
!/desktop/applis/apps/core/common/expressionlanguage/pom.xml
!/desktop/applis/apps/core/common/expressionlanguage/src/
!/desktop/applis/apps/core/common/expressionlanguage/src/**/
!/desktop/applis/apps/core/common/expressionlanguage/src/**/*.java
!/desktop/applis/apps/core/common/formathtml/
!/desktop/applis/apps/core/common/formathtml/pom.xml
!/desktop/applis/apps/core/common/formathtml/src/
!/desktop/applis/apps/core/common/formathtml/src/**/
!/desktop/applis/apps/core/common/formathtml/src/**/*.java
!/desktop/applis/apps/core/common/images/
!/desktop/applis/apps/core/common/images/pom.xml
!/desktop/applis/apps/core/common/images/src/
!/desktop/applis/apps/core/common/images/src/**/
!/desktop/applis/apps/core/common/images/src/**/*.java
!/desktop/applis/apps/core/common/maths/
!/desktop/applis/apps/core/common/maths/pom.xml
!/desktop/applis/apps/core/common/maths/src/
!/desktop/applis/apps/core/common/maths/src/**/
!/desktop/applis/apps/core/common/maths/src/**/*.java
!/desktop/applis/apps/core/common/pom.xml
!/desktop/applis/apps/core/common/sml/
!/desktop/applis/apps/core/common/sml/pom.xml
!/desktop/applis/apps/core/common/sml/src/
!/desktop/applis/apps/core/common/sml/src/**/
!/desktop/applis/apps/core/common/sml/src/**/*.java
!/desktop/applis/apps/core/common/util/
!/desktop/applis/apps/core/common/util/pom.xml
!/desktop/applis/apps/core/common/util/src/
!/desktop/applis/apps/core/common/util/src/**/
!/desktop/applis/apps/core/common/util/src/**/*.java
!/desktop/applis/apps/core/games/
!/desktop/applis/apps/core/games/belote/
!/desktop/applis/apps/core/games/belote/pom.xml
!/desktop/applis/apps/core/games/belote/src/
!/desktop/applis/apps/core/games/belote/src/**/
!/desktop/applis/apps/core/games/belote/src/**/*.java
!/desktop/applis/apps/core/games/cardgamescommon/
!/desktop/applis/apps/core/games/cardgamescommon/pom.xml
!/desktop/applis/apps/core/games/cardgamescommon/src/
!/desktop/applis/apps/core/games/cardgamescommon/src/**/
!/desktop/applis/apps/core/games/cardgamescommon/src/**/*.java
!/desktop/applis/apps/core/games/pokemoncore/
!/desktop/applis/apps/core/games/pokemoncore/pom.xml
!/desktop/applis/apps/core/games/pokemoncore/src/
!/desktop/applis/apps/core/games/pokemoncore/src/**/
!/desktop/applis/apps/core/games/pokemoncore/src/**/*.java
!/desktop/applis/apps/core/games/pom.xml
!/desktop/applis/apps/core/games/president/
!/desktop/applis/apps/core/games/president/pom.xml
!/desktop/applis/apps/core/games/president/src/
!/desktop/applis/apps/core/games/president/src/**/
!/desktop/applis/apps/core/games/president/src/**/*.java
!/desktop/applis/apps/core/games/tarot/
!/desktop/applis/apps/core/games/tarot/pom.xml
!/desktop/applis/apps/core/games/tarot/src/
!/desktop/applis/apps/core/games/tarot/src/**/
!/desktop/applis/apps/core/games/tarot/src/**/*.java
!/desktop/applis/apps/core/pom.xml
!/desktop/applis/apps/core/scripts/
!/desktop/applis/apps/core/scripts/pom.xml
!/desktop/applis/apps/core/scripts/scripts_cards/
!/desktop/applis/apps/core/scripts/scripts_cards/pom.xml
!/desktop/applis/apps/core/scripts/scripts_cards/src/
!/desktop/applis/apps/core/scripts/scripts_cards/src/**/
!/desktop/applis/apps/core/scripts/scripts_cards/src/**/*.java
!/desktop/applis/apps/core/scripts/scripts_core/
!/desktop/applis/apps/core/scripts/scripts_core/pom.xml
!/desktop/applis/apps/core/scripts/scripts_core/src/
!/desktop/applis/apps/core/scripts/scripts_core/src/**/
!/desktop/applis/apps/core/scripts/scripts_core/src/**/*.java
!/desktop/applis/apps/core/scripts/scripts_game/
!/desktop/applis/apps/core/scripts/scripts_game/pom.xml
!/desktop/applis/apps/core/scripts/scripts_game/src/
!/desktop/applis/apps/core/scripts/scripts_game/src/**/
!/desktop/applis/apps/core/scripts/scripts_game/src/**/*.java
!/desktop/applis/apps/files/
!/desktop/applis/apps/files/files_games/
!/desktop/applis/apps/files/files_games/cardgamesunion/
!/desktop/applis/apps/files/files_games/cardgamesunion/pom.xml
!/desktop/applis/apps/files/files_games/cardgamesunion/src/
!/desktop/applis/apps/files/files_games/cardgamesunion/src/**/
!/desktop/applis/apps/files/files_games/cardgamesunion/src/**/*.java
!/desktop/applis/apps/files/files_games/pom.xml
!/desktop/applis/apps/files/pom.xml
!/desktop/applis/apps/gui/
!/desktop/applis/apps/gui/applications/
!/desktop/applis/apps/gui/applications/pom.xml
!/desktop/applis/apps/gui/applications/src/
!/desktop/applis/apps/gui/applications/src/**/
!/desktop/applis/apps/gui/applications/src/**/*.java
!/desktop/applis/apps/gui/gui_games/
!/desktop/applis/apps/gui/gui_games/cardgamesgui/
!/desktop/applis/apps/gui/gui_games/cardgamesgui/cards_port.ini
!/desktop/applis/apps/gui/gui_games/cardgamesgui/pom.xml
!/desktop/applis/apps/gui/gui_games/cardgamesgui/src/
!/desktop/applis/apps/gui/gui_games/cardgamesgui/src/**/
!/desktop/applis/apps/gui/gui_games/cardgamesgui/src/**/*.java
!/desktop/applis/apps/gui/gui_games/pokemongui/
!/desktop/applis/apps/gui/gui_games/pokemongui/pokemon_port.ini
!/desktop/applis/apps/gui/gui_games/pokemongui/pom.xml
!/desktop/applis/apps/gui/gui_games/pokemongui/src/
!/desktop/applis/apps/gui/gui_games/pokemongui/src/**/
!/desktop/applis/apps/gui/gui_games/pokemongui/src/**/*.java
!/desktop/applis/apps/gui/gui_games/pom.xml
!/desktop/applis/apps/gui/gui_games/rtsdemo/
!/desktop/applis/apps/gui/gui_games/rtsdemo/pom.xml
!/desktop/applis/apps/gui/gui_games/rtsdemo/src/
!/desktop/applis/apps/gui/gui_games/rtsdemo/src/**/
!/desktop/applis/apps/gui/gui_games/rtsdemo/src/**/*.java
!/desktop/applis/apps/gui/gui_util/
!/desktop/applis/apps/gui/gui_util/converterimages/
!/desktop/applis/apps/gui/gui_util/converterimages/pom.xml
!/desktop/applis/apps/gui/gui_util/converterimages/src/
!/desktop/applis/apps/gui/gui_util/converterimages/src/**/
!/desktop/applis/apps/gui/gui_util/converterimages/src/**/*.java
!/desktop/applis/apps/gui/gui_util/player/
!/desktop/applis/apps/gui/gui_util/player/pom.xml
!/desktop/applis/apps/gui/gui_util/player/src/
!/desktop/applis/apps/gui/gui_util/player/src/**/
!/desktop/applis/apps/gui/gui_util/player/src/**/*.java
!/desktop/applis/apps/gui/gui_util/pom.xml
!/desktop/applis/apps/gui/guicommon/
!/desktop/applis/apps/gui/guicommon/pom.xml
!/desktop/applis/apps/gui/guicommon/src/
!/desktop/applis/apps/gui/guicommon/src/**/
!/desktop/applis/apps/gui/guicommon/src/**/*.java
!/desktop/applis/apps/gui/interpreter/
!/desktop/applis/apps/gui/interpreter/expressionlanguagegui/
!/desktop/applis/apps/gui/interpreter/expressionlanguagegui/pom.xml
!/desktop/applis/apps/gui/interpreter/expressionlanguagegui/src/
!/desktop/applis/apps/gui/interpreter/expressionlanguagegui/src/**/
!/desktop/applis/apps/gui/interpreter/expressionlanguagegui/src/**/*.java
!/desktop/applis/apps/gui/interpreter/expressionlanguageunit/
!/desktop/applis/apps/gui/interpreter/expressionlanguageunit/pom.xml
!/desktop/applis/apps/gui/interpreter/expressionlanguageunit/src/
!/desktop/applis/apps/gui/interpreter/expressionlanguageunit/src/**/
!/desktop/applis/apps/gui/interpreter/expressionlanguageunit/src/**/*.java
!/desktop/applis/apps/gui/interpreter/pom.xml
!/desktop/applis/apps/gui/interpreter/rendersgui/
!/desktop/applis/apps/gui/interpreter/rendersgui/pom.xml
!/desktop/applis/apps/gui/interpreter/rendersgui/src/
!/desktop/applis/apps/gui/interpreter/rendersgui/src/**/
!/desktop/applis/apps/gui/interpreter/rendersgui/src/**/*.java
!/desktop/applis/apps/gui/network/
!/desktop/applis/apps/gui/network/pom.xml
!/desktop/applis/apps/gui/network/src/
!/desktop/applis/apps/gui/network/src/**/
!/desktop/applis/apps/gui/network/src/**/*.java
!/desktop/applis/apps/gui/pom.xml
!/desktop/applis/apps/sys_apps/
!/desktop/applis/apps/sys_apps/def_standalones/
!/desktop/applis/apps/sys_apps/def_standalones/def_standalones_cards/
!/desktop/applis/apps/sys_apps/def_standalones/def_standalones_cards/pom.xml
!/desktop/applis/apps/sys_apps/def_standalones/def_standalones_cards/src/
!/desktop/applis/apps/sys_apps/def_standalones/def_standalones_cards/src/**/
!/desktop/applis/apps/sys_apps/def_standalones/def_standalones_cards/src/**/*.java
!/desktop/applis/apps/sys_apps/def_standalones/def_standalones_converterimages/
!/desktop/applis/apps/sys_apps/def_standalones/def_standalones_converterimages/pom.xml
!/desktop/applis/apps/sys_apps/def_standalones/def_standalones_converterimages/src/
!/desktop/applis/apps/sys_apps/def_standalones/def_standalones_converterimages/src/**/
!/desktop/applis/apps/sys_apps/def_standalones/def_standalones_converterimages/src/**/*.java
!/desktop/applis/apps/sys_apps/def_standalones/def_standalones_expressionlanguagegui/
!/desktop/applis/apps/sys_apps/def_standalones/def_standalones_expressionlanguagegui/pom.xml
!/desktop/applis/apps/sys_apps/def_standalones/def_standalones_expressionlanguagegui/src/
!/desktop/applis/apps/sys_apps/def_standalones/def_standalones_expressionlanguagegui/src/**/
!/desktop/applis/apps/sys_apps/def_standalones/def_standalones_expressionlanguagegui/src/**/*.java
!/desktop/applis/apps/sys_apps/def_standalones/def_standalones_expressionlanguageunit/
!/desktop/applis/apps/sys_apps/def_standalones/def_standalones_expressionlanguageunit/pom.xml
!/desktop/applis/apps/sys_apps/def_standalones/def_standalones_expressionlanguageunit/src/
!/desktop/applis/apps/sys_apps/def_standalones/def_standalones_expressionlanguageunit/src/**/
!/desktop/applis/apps/sys_apps/def_standalones/def_standalones_expressionlanguageunit/src/**/*.java
!/desktop/applis/apps/sys_apps/def_standalones/def_standalones_player/
!/desktop/applis/apps/sys_apps/def_standalones/def_standalones_player/pom.xml
!/desktop/applis/apps/sys_apps/def_standalones/def_standalones_player/src/
!/desktop/applis/apps/sys_apps/def_standalones/def_standalones_player/src/**/
!/desktop/applis/apps/sys_apps/def_standalones/def_standalones_player/src/**/*.java
!/desktop/applis/apps/sys_apps/def_standalones/def_standalones_pokemon/
!/desktop/applis/apps/sys_apps/def_standalones/def_standalones_pokemon/pom.xml
!/desktop/applis/apps/sys_apps/def_standalones/def_standalones_pokemon/src/
!/desktop/applis/apps/sys_apps/def_standalones/def_standalones_pokemon/src/**/
!/desktop/applis/apps/sys_apps/def_standalones/def_standalones_pokemon/src/**/*.java
!/desktop/applis/apps/sys_apps/def_standalones/def_standalones_renders/
!/desktop/applis/apps/sys_apps/def_standalones/def_standalones_renders/pom.xml
!/desktop/applis/apps/sys_apps/def_standalones/def_standalones_renders/src/
!/desktop/applis/apps/sys_apps/def_standalones/def_standalones_renders/src/**/
!/desktop/applis/apps/sys_apps/def_standalones/def_standalones_renders/src/**/*.java
!/desktop/applis/apps/sys_apps/def_standalones/pom.xml
!/desktop/applis/apps/sys_apps/pom.xml
!/desktop/applis/apps/sys_apps/sys_apps_core/
!/desktop/applis/apps/sys_apps/sys_apps_core/compos_core/
!/desktop/applis/apps/sys_apps/sys_apps_core/compos_core/pom.xml
!/desktop/applis/apps/sys_apps/sys_apps_core/compos_core/src/
!/desktop/applis/apps/sys_apps/sys_apps_core/compos_core/src/**/
!/desktop/applis/apps/sys_apps/sys_apps_core/compos_core/src/**/*.java
!/desktop/applis/apps/sys_apps/sys_apps_core/compos_def_back/
!/desktop/applis/apps/sys_apps/sys_apps_core/compos_def_back/pom.xml
!/desktop/applis/apps/sys_apps/sys_apps_core/compos_def_back/src/
!/desktop/applis/apps/sys_apps/sys_apps_core/compos_def_back/src/**/
!/desktop/applis/apps/sys_apps/sys_apps_core/compos_def_back/src/**/*.java
!/desktop/applis/apps/sys_apps/sys_apps_core/compos_def_fact/
!/desktop/applis/apps/sys_apps/sys_apps_core/compos_def_fact/pom.xml
!/desktop/applis/apps/sys_apps/sys_apps_core/compos_def_fact/src/
!/desktop/applis/apps/sys_apps/sys_apps_core/compos_def_fact/src/**/
!/desktop/applis/apps/sys_apps/sys_apps_core/compos_def_fact/src/**/*.java
!/desktop/applis/apps/sys_apps/sys_apps_core/compos_other/
!/desktop/applis/apps/sys_apps/sys_apps_core/compos_other/pom.xml
!/desktop/applis/apps/sys_apps/sys_apps_core/compos_other/src/
!/desktop/applis/apps/sys_apps/sys_apps_core/compos_other/src/**/
!/desktop/applis/apps/sys_apps/sys_apps_core/compos_other/src/**/*.java
!/desktop/applis/apps/sys_apps/sys_apps_core/pom.xml
!/desktop/applis/apps/sys_apps/sys_apps_core/random/
!/desktop/applis/apps/sys_apps/sys_apps_core/random/pom.xml
!/desktop/applis/apps/sys_apps/sys_apps_core/random/src/
!/desktop/applis/apps/sys_apps/sys_apps_core/random/src/**/
!/desktop/applis/apps/sys_apps/sys_apps_core/random/src/**/*.java
!/desktop/applis/apps/sys_apps/sys_apps_gui/
!/desktop/applis/apps/sys_apps/sys_apps_gui/pom.xml
!/desktop/applis/apps/sys_apps/sys_apps_gui/def/
!/desktop/applis/apps/sys_apps/sys_apps_gui/def/pom.xml
!/desktop/applis/apps/sys_apps/sys_apps_gui/def/src/
!/desktop/applis/apps/sys_apps/sys_apps_gui/def/src/**/
!/desktop/applis/apps/sys_apps/sys_apps_gui/def/src/**/*.java
!/desktop/applis/apps/sys_apps/sys_apps_gui/def_back/
!/desktop/applis/apps/sys_apps/sys_apps_gui/def_back/pom.xml
!/desktop/applis/apps/sys_apps/sys_apps_gui/def_back/src/
!/desktop/applis/apps/sys_apps/sys_apps_gui/def_back/src/**/
!/desktop/applis/apps/sys_apps/sys_apps_gui/def_back/src/**/*.java
!/desktop/applis/apps/sys_apps/sys_apps_gui/def_fact/
!/desktop/applis/apps/sys_apps/sys_apps_gui/def_fact/pom.xml
!/desktop/applis/apps/sys_apps/sys_apps_gui/def_fact/src/
!/desktop/applis/apps/sys_apps/sys_apps_gui/def_fact/src/**/
!/desktop/applis/apps/sys_apps/sys_apps_gui/def_fact/src/**/*.java
!/desktop/applis/apps/sys_apps/sys_apps_gui/infos_core/
!/desktop/applis/apps/sys_apps/sys_apps_gui/infos_core/pom.xml
!/desktop/applis/apps/sys_apps/sys_apps_gui/infos_core/src/
!/desktop/applis/apps/sys_apps/sys_apps_gui/infos_core/src/**/
!/desktop/applis/apps/sys_apps/sys_apps_gui/infos_core/src/**/*.java
!/desktop/applis/apps/sys_apps/sys_apps_gui/infos_deps/
!/desktop/applis/apps/sys_apps/sys_apps_gui/infos_deps/pom.xml
!/desktop/applis/apps/sys_apps/sys_apps_gui/infos_deps/src/
!/desktop/applis/apps/sys_apps/sys_apps_gui/infos_deps/src/**/
!/desktop/applis/apps/sys_apps/sys_apps_gui/infos_deps/src/**/*.java
!/desktop/applis/apps/sys_apps/sys_apps_gui/other/
!/desktop/applis/apps/sys_apps/sys_apps_gui/other/pom.xml
!/desktop/applis/apps/sys_apps/sys_apps_gui/other/src/
!/desktop/applis/apps/sys_apps/sys_apps_gui/other/src/**/
!/desktop/applis/apps/sys_apps/sys_apps_gui/other/src/**/*.java
!/desktop/applis/apps/sys_apps/sys_apps_gui/other_fact/
!/desktop/applis/apps/sys_apps/sys_apps_gui/other_fact/pom.xml
!/desktop/applis/apps/sys_apps/sys_apps_gui/other_fact/src/
!/desktop/applis/apps/sys_apps/sys_apps_gui/other_fact/src/**/
!/desktop/applis/apps/sys_apps/sys_apps_gui/other_fact/src/**/*.java
!/desktop/applis/apps/pom.xml
!/desktop/applis/checkstyle_src.xml
!/desktop/applis/checkstyle_test.xml
!/desktop/applis/couvertures.html
!/desktop/applis/main/
!/desktop/applis/main/def_main/
!/desktop/applis/main/def_main/pom.xml
!/desktop/applis/main/def_main/src/
!/desktop/applis/main/def_main/src/**/
!/desktop/applis/main/def_main/src/**/*.java
!/desktop/applis/main/infos/
!/desktop/applis/main/infos/pom.xml
!/desktop/applis/main/infos/src/
!/desktop/applis/main/infos/src/**/
!/desktop/applis/main/infos/src/**/*.java
!/desktop/applis/main/other_main/
!/desktop/applis/main/other_main/pom.xml
!/desktop/applis/main/other_main/src/
!/desktop/applis/main/other_main/src/**/
!/desktop/applis/main/other_main/src/**/*.java
!/desktop/applis/main/pom.xml
!/desktop/applis/main/standalones/
!/desktop/applis/main/standalones/pom.xml
!/desktop/applis/main/standalones/standalones_cards/
!/desktop/applis/main/standalones/standalones_cards/pom.xml
!/desktop/applis/main/standalones/standalones_cards/src/
!/desktop/applis/main/standalones/standalones_cards/src/**/
!/desktop/applis/main/standalones/standalones_cards/src/**/*.java
!/desktop/applis/main/standalones/standalones_converterimages/
!/desktop/applis/main/standalones/standalones_converterimages/pom.xml
!/desktop/applis/main/standalones/standalones_converterimages/src/
!/desktop/applis/main/standalones/standalones_converterimages/src/**/
!/desktop/applis/main/standalones/standalones_converterimages/src/**/*.java
!/desktop/applis/main/standalones/standalones_expressionlanguagegui/
!/desktop/applis/main/standalones/standalones_expressionlanguagegui/pom.xml
!/desktop/applis/main/standalones/standalones_expressionlanguagegui/src/
!/desktop/applis/main/standalones/standalones_expressionlanguagegui/src/**/
!/desktop/applis/main/standalones/standalones_expressionlanguagegui/src/**/*.java
!/desktop/applis/main/standalones/standalones_expressionlanguageunit/
!/desktop/applis/main/standalones/standalones_expressionlanguageunit/pom.xml
!/desktop/applis/main/standalones/standalones_expressionlanguageunit/src/
!/desktop/applis/main/standalones/standalones_expressionlanguageunit/src/**/
!/desktop/applis/main/standalones/standalones_expressionlanguageunit/src/**/*.java
!/desktop/applis/main/standalones/standalones_player/
!/desktop/applis/main/standalones/standalones_player/pom.xml
!/desktop/applis/main/standalones/standalones_player/src/
!/desktop/applis/main/standalones/standalones_player/src/**/
!/desktop/applis/main/standalones/standalones_player/src/**/*.java
!/desktop/applis/main/standalones/standalones_pokemon/
!/desktop/applis/main/standalones/standalones_pokemon/pom.xml
!/desktop/applis/main/standalones/standalones_pokemon/src/
!/desktop/applis/main/standalones/standalones_pokemon/src/**/
!/desktop/applis/main/standalones/standalones_pokemon/src/**/*.java
!/desktop/applis/main/standalones/standalones_renders/
!/desktop/applis/main/standalones/standalones_renders/pom.xml
!/desktop/applis/main/standalones/standalones_renders/src/
!/desktop/applis/main/standalones/standalones_renders/src/**/
!/desktop/applis/main/standalones/standalones_renders/src/**/*.java
!/desktop/applis/main/standalones/*/src/main/resources/
!/desktop/applis/main/standalones/*/src/main/resources/**/
!/desktop/applis/main/standalones/*/src/main/resources/**/*.ico
!/desktop/applis/main/young/
!/desktop/applis/main/young/pom.xml
!/desktop/applis/main/young/src/
!/desktop/applis/main/young/src/**/
!/desktop/applis/main/young/src/**/*.java
!/desktop/applis/pom.xml
!/desktop/old/
!/desktop/old/**
!/desktop/pom.xml
!/pom.xml
!/README.md